/* @font-face {
    font-family: Valorant;
    src: url(../fonts/Valorant\ Font.ttf);
} */

.profileImage {
    width: 100%;
    height: auto;
}

.center {
    color: #0F1923;
    padding-top: 25%;
     justify-content: center;
    align-self: center;
}

.navbar{
    margin-right: 0;
}

/* h1,h2,h3,h4 {
    font-family: Valorant;
} */