
#more {
    display: none;
}

.rounded-box{
    border-radius: 3%;
    background: linear-gradient(145deg, #d4d1cb, #fdf8f1);
    box-shadow: 20px 20px 60px #c9c5bf,
    -20px -20px 60px #ffffff;
}
.profileImage {
    width: 80%;
    height: auto;
}

.skils{
    margin-top: 13%;
    margin-bottom: 10%;
}
.skils-vector{
    width: 100%;
    max-width: 30px;
    max-height: 30px;
}

.center {
    color: #0F1923;
    padding-top: 25%;
    justify-content: center;
    align-self: center;
}
.center-txt {
     width: 100%;
     height: 100%;
     display: table;
     text-align: center;
}


.navbar{
    justify-content:space-between;
}


/* Card */
/* width:300px;height:300px; */
.vertical{
padding: 20px;
height: 100%;
vertical-align: middle;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ECE8E1;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.education{
    width: 60%;
    height: auto;
}