/* @font-face {
    font-family: Valorant;
    src: url(../fonts/Valorant\ Font.ttf);
} */

.profileImage {
    width: 100%;
    height: auto;
}

.center {
    color: #0F1923;
    padding-top: 25%;
    justify-content: center;
    align-self: center;
}
.center-txt {
     width: 100%;
     height: 100%;
     display: table;
     text-align: center;
}

.center-txt>.child {
    display: table-cell;
    vertical-align: middle;
}

.navbar{
    justify-content:space-between;
}

/* h1,h2,h3,h4 {
    font-family: Valorant;
} */